{% extends "base.html" %}

{% block nav %}
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/">Slot for Slaught</a>
        <ul class="nav pull-right">
          <li class="active"><a href="/r/processor_reserve">Farmer</a></li>
          <li><a href="/u/signup/processor">Processor</a></li>
          <li><a href="#">About</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
<div class="row-fluid">
	<div class="span12">
		<h3>Search Results for {{zipcode}}: </h3>
	</div>
</div>

<div class="row-fluid">
	<div class="span3">
		Search Parameters:
		<ul class="processorServices">
			<li>
				Within 
				<select>
					<option>
						5mi
					</option>
					<option>
						15mi
					</option>
					<option>
						30mi
					</option>
				</select>
			</li>
			<li>
				Search by Services:
				<ul class="processorServices">
					<li>
						<input type="checkbox">
			      		Curing
			      	</li>
			      	<li>
			      		<input type="checkbox">
						Smoking		      		
			      	</li>
			      	<li>
			      		<input type="checkbox">
			      	Sausage
			      	</li>
			      	<li>
			      		<input type="checkbox">
			      	Ground Meat
			      	</li>
			      	<li>
			      		<input type="checkbox">
			      	Custom Cuts
			      	</li>
			      	<li>
			      		<input type="checkbox">
			      	Halal/Kosher
			      	</li>
			      	<li>
			      		<input type="checkbox">
			      	Packaging
			      	</li>
			      	<li>
			      		<input type="checkbox">
			      	Labeling
			      	</li>
			      	<li>
			      		<input type="checkbox">
			      	Receipes
			      	</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="span9">
		<div class="tabbable"> <!-- Only required for left/right tabs -->
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#tab1" data-toggle="tab">List View</a></li>
		    <li><a href="#tab2" data-toggle="tab">Map</a></li>
		  </ul>
			<div class="tab-content">
			    <div class="tab-pane active" id="tab1">
			       	<div class="span12 processorListing">
			    		<div class="span2">			    			
			    			<img class="img-rounded processorImg" src="{{STATIC_URL}}img/happycows.jpg" id="happycows"></img>
			    		</div>

			    		<div class="span10">
			    			<div class="span8">
				    			<a href="/r/processor_reserve" class="linkToProcessor"><h3>Bird the Butcher, Inc.</h3></a>
					    		<div>
						    		7277 Dunnsville Rd, Altamont, NY | 518-355-6944 | Open 8am - 7pm
						    		<br>
						    		$300-500
						    		Time Slot
						    	</div>
						    </div>
						    <div class="span4">
						    	<img class="smallCalendar" src="{{STATIC_URL}}img/calendar.png"></img>
							</div>
			    		</div>    		
			    	</div>

			       	<div class="span12 processorListing">
			    		<div class="span2">			    			
			    			<img class="img-rounded processorImg" src="{{STATIC_URL}}img/cow_lake.jpg" id="happycows"></img>
			    		</div>

			    		<div class="span10">
			    			<div class="span8">
				    			<h3>King's Cuts</h3>
					    		<div>
						    		7277 Dunnsville Rd, Altamont, NY | 518-355-6944 | Open 8am - 7pm
						    		<br>
						    		$300-500
						    		Time Slot
						    	</div>
						    </div>
						    <div class="span4">
						    	<img class="smallCalendar" src="{{STATIC_URL}}img/calendar2.png"></img>
							</div>
			    		</div>    		
			    	</div>

			       	<div class="span12 processorListing">
			    		<div class="span2">			    			
			    			<img class="img-rounded processorImg" src="{{STATIC_URL}}img/pigears.jpg" id="happycows"></img>
			    		</div>

			    		<div class="span10">
			    			<div class="span8">
				    			<h3>Magic's Meat</h3>
					    		<div>
						    		7277 Dunnsville Rd, Altamont, NY | 518-355-6944 | Open 8am - 7pm
						    		<br>
						    		$300-500
						    	</div>
						    </div>
						    <div class="span4">
						    	<img class="smallCalendar" src="{{STATIC_URL}}img/calendar.png"></img>
							</div>
			    		</div>    		
			    	</div>

			       	<div class="span12 processorListing">
			    		<div class="span2">			    			
			    			<img class="img-rounded processorImg" src="{{STATIC_URL}}img/piglette.jpg" id="happycows"></img>
			    		</div>

			    		<div class="span10">
			    			<div class="span8">
				    			<h3>Butchering &amp; Co.</h3>
					    		<div>
						    		7277 Dunnsville Rd, Altamont, NY | 518-355-6944 | Open 8am - 7pm
						    		<br>
						    		$300-500
						    		Time Slot
						    	</div>
						    </div>
						    <div class="span4">
						    	<img class="smallCalendar" src="{{STATIC_URL}}img/calendar2.png"></img>
							</div>
			    		</div>    		
			    	</div>




			    </div>
			    <div class="tab-pane" id="tab2">
			    	<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=vermont&amp;aq=&amp;sll=44.281342,-72.437668&amp;sspn=0.064766,0.244102&amp;ie=UTF8&amp;hq=&amp;hnear=Vermont&amp;t=m&amp;ll=44.569192,-72.590446&amp;spn=0.1174,0.219727&amp;z=12&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=vermont&amp;aq=&amp;sll=44.281342,-72.437668&amp;sspn=0.064766,0.244102&amp;ie=UTF8&amp;hq=&amp;hnear=Vermont&amp;t=m&amp;ll=44.569192,-72.590446&amp;spn=0.1174,0.219727&amp;z=12" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			    </div>
			</div>
		</div>
	</div>
</div>




{% endblock %}

{% block jquery_plugins %}

	<script type="text/javascript" src="{{STATIC_URL}}fullCalendar/fullcalendar.js">


{% endblock %}
