{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
	<h3 class="span10 offset1 title">Complete your signup:</h3>
</div>

<div class="row-fluid">
	<div class="span10 offset1">
	What's the best way to reach you? Email, Text, Phone?
	What are your hours?
	What are your services offered?
	Write a short synopsis about yourself:
	When are you available?
	</div>
</div>



<div class="row-fluid">
	<div class="span10 offset1">
		<div id="calendar">
		</div>
	</div>
</div>
{% endblock %}

{% block jquery_plugins %}

	<script type="text/javascript" src="{{STATIC_URL}}fullCalendar/fullcalendar.js">


{% endblock %}
