{% extends "base.html" %}

{% block nav %}
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/">Slot for Slaught</a>
        <ul class="nav pull-right">
          <li><a href="/r/processor_reserve">Farmer</a></li>
          <li class="active"><a href="/u/signup/processor">Processor</a></li>
          <li><a href="#">About</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">

	<div class="row-fluid">
		<div class="span12">
			<form>
			  <fieldset>
			  	<div class="row-fluid">
				  	<div class="span6">
				  		<img src="{{STATIC_URL}}img/fatcow.jpg"></img>
				  	</div>
				  	<div class="span6">

					    <legend>Complete your signup:</legend>
					    <label>Name</label>
					    <input type="text" placeholder="Name">

					    <label>Street</label>
					    <input type="text" placeholder="Street">

					    <label>Zip / State</label>
					    <input type="text" placeholder="Zip">

						<select name="State">
							02.
							<option value="" selected="selected">Select a State</option>
							03.
							<option value="AL">Alabama</option>
							04.
							<option value="AK">Alaska</option>
							05.
							<option value="AZ">Arizona</option>
							06.
							<option value="AR">Arkansas</option>
							07.
							<option value="CA">California</option>
							08.
							<option value="CO">Colorado</option>
							09.
							<option value="CT">Connecticut</option>
							10.
							<option value="DE">Delaware</option>
							11.
							<option value="DC">District Of Columbia</option>
							12.
							<option value="FL">Florida</option>
							13.
							<option value="GA">Georgia</option>
							14.
							<option value="HI">Hawaii</option>
							15.
							<option value="ID">Idaho</option>
							16.
							<option value="IL">Illinois</option>
							17.
							<option value="IN">Indiana</option>
							18.
							<option value="IA">Iowa</option>
							19.
							<option value="KS">Kansas</option>
							20.
							<option value="KY">Kentucky</option>
							21.
							<option value="LA">Louisiana</option>
							22.
							<option value="ME">Maine</option>
							23.
							<option value="MD">Maryland</option>
							24.
							<option value="MA">Massachusetts</option>
							25.
							<option value="MI">Michigan</option>
							26.
							<option value="MN">Minnesota</option>
							27.
							<option value="MS">Mississippi</option>
							28.
							<option value="MO">Missouri</option>
							29.
							<option value="MT">Montana</option>
							30.
							<option value="NE">Nebraska</option>
							31.
							<option value="NV">Nevada</option>
							32.
							<option value="NH">New Hampshire</option>
							33.
							<option value="NJ">New Jersey</option>
							34.
							<option value="NM">New Mexico</option>
							35.
							<option value="NY">New York</option>
							36.
							<option value="NC">North Carolina</option>
							37.
							<option value="ND">North Dakota</option>
							38.
							<option value="OH">Ohio</option>
							39.
							<option value="OK">Oklahoma</option>
							40.
							<option value="OR">Oregon</option>
							41.
							<option value="PA">Pennsylvania</option>
							42.
							<option value="RI">Rhode Island</option>
							43.
							<option value="SC">South Carolina</option>
							44.
							<option value="SD">South Dakota</option>
							45.
							<option value="TN">Tennessee</option>
							46.
							<option value="TX">Texas</option>
							47.
							<option value="UT">Utah</option>
							48.
							<option value="VT">Vermont</option>
							49.
							<option value="VA">Virginia</option>
							50.
							<option value="WA">Washington</option>
							51.
							<option value="WV">West Virginia</option>
							52.
							<option value="WI">Wisconsin</option>
							53.
							<option value="WY">Wyoming</option>
							54.
						</select>

					    <label>What's the best way to reach you?</label>
					    <label class="checkbox inline">
						  <input type="checkbox" id="inlineCheckbox1" value="option1" checked> Email
						</label>
						<label class="checkbox inline">
						  <input type="checkbox" id="inlineCheckbox2" value="option2"> Text
						</label>
						<label class="checkbox inline">
						  <input type="checkbox" id="inlineCheckbox3" value="option3"> Phone
						</label>

						<label>What are your hours?</label>
						<select>
						  <option>1:00 AM</option>
						  <option>2:00 AM</option>
						  <option>3:00 AM</option>
						  <option>4:00 AM</option>
						  <option>5:00 AM</option>
						  <option>6:00 AM</option>
						  <option>7:00 AM</option>
						  <option>8:00 AM</option>
						  <option>9:00 AM</option>
						  <option>10:00 AM</option>
						  <option>11:00 AM</option>
						  <option>12:00 AM</option>
						  <option>1:00 PM</option>
						  <option>2:00 PM</option>
						  <option>3:00 PM</option>
						  <option>4:00 PM</option>
						  <option>5:00 PM</option>
						  <option>6:00 PM</option>
						  <option>7:00 PM</option>
						  <option>8:00 PM</option>
						  <option>9:00 PM</option>
						  <option>10:00 PM</option>
						  <option>11:00 PM</option>
						  <option>12:00 PM</option>
						</select>

						to

						<select>
						  <option>1:00 AM</option>
						  <option>2:00 AM</option>
						  <option>3:00 AM</option>
						  <option>4:00 AM</option>
						  <option>5:00 AM</option>
						  <option>6:00 AM</option>
						  <option>7:00 AM</option>
						  <option>8:00 AM</option>
						  <option>9:00 AM</option>
						  <option>10:00 AM</option>
						  <option>11:00 AM</option>
						  <option>12:00 AM</option>
						  <option>1:00 PM</option>
						  <option>2:00 PM</option>
						  <option>3:00 PM</option>
						  <option>4:00 PM</option>
						  <option>5:00 PM</option>
						  <option>6:00 PM</option>
						  <option>7:00 PM</option>
						  <option>8:00 PM</option>
						  <option>9:00 PM</option>
						  <option>10:00 PM</option>
						  <option>11:00 PM</option>
						  <option>12:00 PM</option>
						</select>

					</div>
				</div>

				<br>

				<div class="row-fluid">
					<div class="span12">
						<div class="span6">
							<label>Write a short synopsis about yourself:</label>
						    <textarea rows="6" class="span12">
							</textarea>
						</div>
						<div class="span6">
							What services do you offer? ie. Packaging, Smoking, etc
							<textarea rows="6" class="span12">
							</textarea>
						</div>
					</div>
				</div>

				<label>When are you available?</label>
				<div class="row-fluid">
					<div class="span12">
						<div id="calendar">
						</div>
					</div>
				</div>

				<div>
			    	<button type="submit" class="btn btn-large btn-primary">Submit</button>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>



{% endblock %}

{% block jquery_plugins %}

	<script type="text/javascript" src="{{STATIC_URL}}fullcalendar/fullcalendar.js"></script>


{% endblock %}
