{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<form action="" method="post" class="form-horizontal">
    <input type="hidden" name="next" value="{{ next }}" />

    <div class="row-fluid">
        <div class="span12">
            {% include "include_form.html" %}

            <div class="control-group {% if form.password.errors %}error{% endif %}">
                <div class="controls">
                    <span class="help-inline">{{ form.password.errors|join:", "|escape }}</span>
                        <br/>
                    <span class="help-inline"><a href="{% url password_reset %}">Forgot Password?</a></span>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" value="login">Login</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}