{% extends "base.html" %}

{% block content %}
<div class="container">
	<h3>Slot for Slaught...</h3>
	<div class="row-fluid">
		<div class="span12">
			<p style="text-align: justify;">...is an innovative web-based tool allowing farmers and meat processors to better manage and coordinate the scheduling, delivery, and processing of animals through a facility as well as fostering better, easier, and more transparent relationships. By incorporating this innovative technology into their day-to-day operations, farmers and processors are relieved of the burdensome hassle of relentless phone calls and difficult communication so intrenched into the current farmer - processor relationship.</p>
		</div>
	</div>
	<hr>
	<div class="row-fluid">
		<h3>Our Team</h3>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<div class="row-fluid">
				<div class="span2">
					<img src="{{STATIC_URL}}img/gabriel.png">
				</div>
				<div class="span8">
					<strong>Gabriel Key  -- <a href="https://twitter.com/FoodforUs">&#64;FoodforUs</a></strong>
					<p style="text-align: justify;">Gabriel M. Key works with local sustainable farmers and food producers to find ways to use technology to better engage and work with clients. He has spoken on the intersection of international trade and local food at the Slow Food International Terra Madre symposium in Turin, Italy, and the Monterey Institute of International Studies. As a part of his culinary training in France and Italy he earned the prestigious Le Grand Diplome from Le Cordon Bleu in Paris, France, and a Masters in Italian Cooking and Oenology from the Italian Culinary Institute for Foreigners in Costigliole d’Asti, Italy. Gabriel has a Master's of Arts in International Trade Policy from the Monterey Institute of International Studies, focusing on the intersection of international trade, food policy, and local food.</p>
					<p><strong>Favorite Cut: </strong>Ribeye</p>
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="row-fluid">
				<div class="span2">
					<img src="{{STATIC_URL}}img/ethan.png">
				</div>
				<div class="span8">
					<strong>Ethan Lo  -- <a href="https://twitter.com/ethanlo">&#64;ethanlo</a></strong>
					<p style="text-align: justify;">Ethan Lo is a software developer based out of Brooklyn, NY. During the day, he teams up with TapCommerce to change mobile e-commerce for the better. Check out his <a href="http://www.ethanlo.com/">website</a> for other projects.</p>
					<p><strong>Favorite Cut: </strong>Ribeye</p>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row-fluid">
		<div class="span6">
			<div class="row-fluid">
				<div class="span2">
					<img src="{{STATIC_URL}}img/jacob.png">
				</div>
				<div class="span8">
					<strong>Jacob Duron  -- <a href="https://twitter.com/jacobduron">&#64;jacobduron</a></strong>
					<p style="text-align: justify;">Jacob is one of the programmers at Slot For Slaught and just recently graduated from NYU. Other than coding he’s usually watching a Modern Family marathon, brewing a cup of coffee, or searching for a new sticker for his laptop.</p>
					<p><strong>Favorite Cut: </strong>Brisket</p>
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="row-fluid">
				<div class="span2">
					<img src="{{STATIC_URL}}img/chris.png">
				</div>
				<div class="span8">
					<strong>Chris Clouten  -- <a href="https://twitter.com/triplec1988">&#64;triplec1988</a></strong>
					<p style="text-align: justify;">Chris is a web developer at Slot for Slaught based out of Brooklyn, NY. When he isn't hunched over his MacBook punching code he enjoys making Thai red curry, tearing his hair out over Arsenal FC and listing to 80's British music of the indie pop variety. And long walks on the beach. Naturally.</p>
					<p><strong>Favorite Cut: </strong>Porterhouse</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}