{% extends "base.html" %}

{% block nav %}
{% endblock %}



{% block content %}
<div class="row-fluid splash-title-row">
    <div class="span2"></div>
    <div class="span5">
        <h1 class="splash-title">
            Slot for Slaught
        </h1>
    </div>
    <div class="span3">
        <a class="btn btn-large" href="#farmerModal" data-target="#farmerModal" role="button" data-toggle="modal">Farmer</a>
        <a class="btn btn-large" href="/u/signup/processor/">Processor</a>
    </div>
</div>
{% endblock %}


{% block modals %}
    {% include "base/modals.html" %}
{% endblock %}