<div class="modal hide fade" id="farmerModal">
  <form class="modal-form" action="/u/processors/">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Find Processors in your area</h3>
  </div>
  <div class="modal-body">
    <p>Enter your zipcode</p>
    <input type="text" id="zipcode">
  </div>
  <div class="modal-footer">
    <a id="goButton" class="btn btn-info">Go!</a>
  </div>
</form>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.8.2.min.js"><\/script>')</script>


<script>
  var goButton;
  $('#goButton').on('click', function() { 
      zipcode = document.getElementById('zipcode').value; // get the current value of the input field.

      var link = document.getElementById('goButton');
      link.href = "/u/processors/" + zipcode;
  });
</script>