{% extends "base.html" %}
{% block nav %}
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">Slot for Slaught</a>
                <ul class="nav pull-right">
                  <li><a href="/u/farmer/dashboard/">Dashboard</a></li>
                  <li><a href="#">Pending Orders</a></li>
                  <li><a href="#">Closed Orders</a></li>
                  <li><a href="#">Settings</a></li>
                  <li><button type="submit" class="btn btn-info">Logout</button><li>
                </ul>
            </div>
        </div>
{% endblock %}
{% block content %}
<h3 style="margin: 0 0 0 30px;">Please select the cuts you want.</h3>
<div class="container">
	<div class="row-fluid">
		<div class="span6">
			<form action="" method="post">
		  	{% csrf_token %}
		  	{{ form.as_p }}
			<a class="btn btn-info btn-large" href="/r/res_complete">Submit Your Order</a>
		 	</form>
		</div>
		<div class="span6">
			<img src="{{STATIC_URL}}img/pigmap.jpg" style="margin: 0 0 590px;">
			<img src="{{STATIC_URL}}img/cowCuts.png">
		</div><!--span6--> 
	</div>
</div>
{% endblock %}
