{% extends "base.html" %}

{% block nav %}
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">Slot for Slaught</a>
                <ul class="nav pull-right">
                  <li><a href="/u/farmer/dashboard/">Dashboard</a></li>
                  <li><a href="#">Pending Orders</a></li>
                  <li><a href="#">Closed Orders</a></li>
                  <li><a href="#">Settings</a></li>
                  <li><button type="submit" class="btn btn-info">Logout</button><li>
                </ul>
            </div>
        </div>
{% endblock %}

{% block content %}
<div class="container">
<h3>Processor Reservation Form</h3>
	<div class="row-fluid">
    <div class="span5">
      <img src="{{STATIC_URL}}img/barn_cow.jpg">
    </div><!--span6--> 
		<div class="span6">
			<form action="" method="post">
        {% with reservation_form as form %}
          {% include "base/include_form.html" %}
        {% endwith %}
        {% with animal_form as form %}
          {% include "base/include_form.html" %}
        {% endwith %}
    		<a><button type="submit" class="btn btn-info btn-large">Choose Your Cuts</button></a>
	  	</form>
		</div>
	</div>
</div><!--container-->

{% endblock %}
