{% extends "base.html" %}
{% block nav %}
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">Slot for Slaught</a>
                <ul class="nav pull-right">
                  <li><a href="/u/farmer/dashboard/">Dashboard</a></li>
                  <li><a href="#">Pending Orders</a></li>
                  <li><a href="#">Closed Orders</a></li>
                  <li><a href="#">Settings</a></li>
                  <li><button type="submit" class="btn btn-info">Logout</button><li>
                </ul>
            </div>
        </div>
{% endblock %}

{% block content %}
<div class="container"
	<div class="row-fluid">
		<div class="span12">
			<h3>Thanks for placing your order!</h3>
			<p>The Processor has received you order and will contact you shortly to confirm your booking.</p>
		</div>
	    <div class="span6">
			<a class="btn btn-primary btn-large" href="/u/farmer/dashboard">Go to Dashboard</a>
		</div>	
	</div>
</div>









{% endblock %}
