{% extends "base.html" %}

{% block nav %}
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">Slot for Slaught</a>
                <ul class="nav pull-right">
                  <li><a href="/u/farmer/dashboard/">Dashboard</a></li>
                  <li><a href="#">Pending Orders</a></li>
                  <li><a href="#">Closed Orders</a></li>
                  <li><a href="#">Settings</a></li>
                  <li><button type="submit" class="btn btn-info">Logout</button><li>
                </ul>
            </div>
        </div>
{% endblock %}

{% block content %}
<h3 style="padding: 0 0 0 15px;">Processor Reservation Form</h3>
	<div class="row-fluid">
		<div class="span6" style="padding: 0 0 0 15px;">
			<form action="" method="post">
				{% csrf_token %}
				{{ form.as_p }}
    			<a class="btn btn-info btn-large" href="/r/res_cut_step">Choose Your Cuts</a>
	  		</form>
		</div>  
		<div class="span6">
			<img src="{{STATIC_URL}}img/barn_cow.jpg">
		</div><!--span6--> 
	</div>

{% endblock %}


<div class="row-fluid">
    <div class="span6">
		<a class="btn btn-info btn-large" href="#">New Order</a>
	</div>
</div>