@import url(http://fonts.googleapis.com/css?family=Vollkorn);


html, body {
    background-color: #EFEFEF;
}

.splash-title {
    font-family: 'Vollkorn', serif;
}

.splash-title-row {
    margin-top: 60px;
}

.center { 
    float: none;
    margin-left: auto;
    margin-right: auto; 
}

#calendar {
	margin-top:25px;
	margin-bottom:25px;
}

.title {
	margin-bottom:10px;
}

.hero-unit {
	background-color:white !important;
}

.processorServices {
	list-style-type: none;
}

.processorImg {
    float:left;
    width:130px;
    height:auto;
    margin-top:15px;
}

.processorListing {
    margin-left:0 !important;
    margin-bottom:20px;
}

.linkToProcessor {
    color:black;
}

.dashboardImg {
    margin-right:10px;
    float:left;
}